# 自动判断文本/二进制
* text=auto

# 前端代码统一使用 LF
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.json text eol=lf
*.html text eol=lf

# Java 代码统一使用 LF
*.java text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.properties text eol=lf

# Python 代码统一使用 LF
*.py text eol=lf

# Windows 批处理必须用 CRLF
*.bat text eol=crlf
